@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Poppins', sans-serif !important;
    color: #202020;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    transition: all 200ms ease-in-out;
    outline: none;
}

@keyframes bounce-right {
    0%, 100% {
      transform: translateX(-25%);
      animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }
}

.content a {
   display: inline-block;
}

.link-active {
   @apply bg-blue-600;
   @apply text-white;
}

.report-active {
   @apply bg-blue-800;
   @apply text-white;
}

.danger {
   @apply bg-red-600;
}

.success {
   @apply bg-green-600;
}

.info {
   @apply bg-blue-600;
}

.warning {
   @apply bg-yellow-600;
}

.disabled {
   
}

button:disabled {
   @apply bg-gray-200;
   @apply text-gray-500;
   @apply cursor-not-allowed;
   @apply hover:bg-gray-200;
   @apply hover:text-gray-500;
}

input {
   outline: none !important;
   box-shadow: none !important;
}

.loading {
   position: relative;
   overflow: hidden;
   @apply bg-gray-300;
   @apply text-gray-300;
   cursor: not-allowed;
   pointer-events: none;

   &::before {
      content: '';
      width: 24px;
      position: absolute;
      left: 45%;
      transform: translateX(-50%);
      border-radius: 100%;
      border: 2px solid black;
      border-top: 0 !important;
      height: 24px;
      @apply border-blue-600;

      
      animation: spin 500ms infinite linear;
   }
}

@-moz-keyframes spin {
   from { -moz-transform: rotate(0deg); }
   to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
   from {transform:rotate(0deg);}
   to {transform:rotate(360deg);}
}

.backdrop {
   position: absolute;
   z-index: 1;
   overflow: auto;
   pointer-events: none;
   transition: transform 1s;
 }
 
 .highlights {
   word-wrap: break-word;
   color: transparent;
   margin-left: 1px;
 }

 mark {
   border-radius: 3px;
   color: transparent;
   background-color: #b1d5e5;
 }